<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<div style="background:#fff; width:700px; height:auto; margin: 0 auto; font-family:calibri; color:#333">
    <div style="display:inline-block; margin:10px;">
        <center><img alt="GO-IN" src="cid:img1"></center>
    </div>

    <h2 style="color:#333">¡Hola!</h2>
    <p>El usuario <b><%= name %></b>, con el email <b><%= email %></b> quiere ponerse en contacto contigo por el siguiente motivo:</p>

    <div style="margin:50px 0px 0px 20px;">
        <p><b>Comercio: <%= commerce %></b></p>
        <p><b>Mensaje: <%= message %></b></p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div style="background:#990099; width:700px; height:auto; margin: 0 auto; color: #fff; margin: 3px">
    <center><a href="www.go-in.mx">www.go-in.mx</a></center>
</div>